.product-details {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

.product-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 16px;
  margin-bottom: 10px;
}


.product-details>button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.product-details img {
  width: 300px;

}

.product-details label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.product-details select,
.product-details input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-details button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f0c040;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s;
}

.product-details button:hover {
  background-color: #e0b030;
}